$olive-green: #606c38;
$dark-olive-green: #283618;
$white-cream: #fefae0;
$light-brown: #dda15e;
$dark-brown: #bc6c25;

.authorsPage {
	& > section.authors-section {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	.container > .authors {
		display: grid;
		justify-content: center;
		grid-template-columns: repeat(auto-fill, minmax(min(100%, 200px), 1fr));
		gap: 30px 30px;

		div.author {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 5px;

			background-color: $white-cream;
			padding: 5px;
			border: 2px rgba(0, 0, 0, 0.499) solid;
			border-radius: 5px;

			cursor: pointer;

			transition: all 0.1s ease-in-out;

			&:hover {
				& > div.picture-container:first-child > img {
					transform: scale(1.05);
				}
			}

			div.picture-container {
				width: 100%;
				aspect-ratio: 2 / 3;
				overflow: hidden;
				border-radius: 5px;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
					transition: all 0.3s ease-in-out;
				}
			}

			.lifespan {
				font-size: 12px;
				color: rgba(0, 0, 0, 0.6);
			}

			& > .works-wrapper {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 5px;
				padding-block: 5px;

				& > .works {
					display: flex;
					flex-wrap: wrap;
					gap: 5px;

					.work {
						max-width: 150px;
						font-size: 12px;
						color: rgba(0, 0, 0, 0.5);
						background-color: rgba(0, 0, 0, 0.156);
						padding: 2px;
						border-radius: 2px;

						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
			}
		}
	}
}

@media (width <= 400px) {
	.authorsPage {
		.container > .authors {
			grid-template-columns: repeat(auto-fill, minmax(min(100%, 100px), 1fr));
		}
	}
}
