$olive-green: #606c38;
$dark-olive-green: #283618;
$white-cream: #fefae0;
$light-brown: #dda15e;
$dark-brown: #bc6c25;

.booksPage {
	& > div {
		display: grid;
		grid-template-columns: 250px 1fr;
		gap: 30px;

		section.filters {
			display: flex;
			flex-direction: column;
			gap: 10px;

			& > div {
				display: flex;
				flex-direction: column;
				gap: 10px;
			}

			div.genres,
			div.authors {
				display: flex;
				flex-wrap: wrap;
				gap: 5px;

				border: $dark-olive-green 1px solid;
				padding: 10px 5px;
				border-radius: 5px;

				max-height: 150px;
				overflow-y: auto;

				span.empty {
					font-size: 14px;
					color: rgba(0, 0, 0, 0.499);
				}

				button.genre,
				button.author {
					background-color: transparent;
					color: $dark-olive-green;
					border: $dark-olive-green 2px solid;
					border-radius: 5px;
					padding: 5px;
					cursor: pointer;
					transition: all 0.15s ease-in-out;

					&:hover {
						background-color: $light-brown;
					}

					&.active {
						color: $white-cream;
						background-color: $dark-olive-green;
					}
				}
			}
		}

		section.container {
			display: flex;
			flex-direction: column;
			gap: 15px;
		}
	}
}

.booksPage .books {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min(100%, 200px), 1fr));
	gap: 30px 30px;

	.book.card {
		display: flex;
		flex-direction: column;
		gap: 10px;
		padding: 5px;
		padding-bottom: 10px;
		border: 2px rgba(0, 0, 0, 0.499) solid;
		border-radius: 5px;

		cursor: pointer;

		transition: all 0.1s ease-in-out;

		&:hover {
			& > div.picture-container:first-child > img {
				transform: scale(1.05);
			}
		}

		div.picture-container {
			width: 100%;
			aspect-ratio: 2 / 3;
			overflow: hidden;
			border-radius: 5px;

			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
				object-position: center;

				transition: all 0.3s ease-in-out;
			}
		}

		& > div.authors {
			padding-bottom: 5px;
		}

		div.authors,
		div.genres {
			display: flex;
			flex-wrap: wrap;
			gap: 5px;

			span {
				font-size: 12px;
				color: rgba(0, 0, 0, 0.458);
				padding: 2px;
				border-radius: 2px;

				&.genreName {
					background-color: #dda25e76;
				}

				&.authorName {
					background-color: rgba(0, 0, 0, 0.156);
				}
			}
		}
	}
}

@media (width <= 700px) {
	.booksPage {
		& > div {
			grid-template-columns: 1fr;

			section.filters {
				max-width: 300px;
			}
		}
	}
}
