$olive-green: #606c38;
$dark-olive-green: #283618;
$white-cream: #fefae0;
$light-brown: #dda15e;
$dark-brown: #bc6c25;

.genresPage {
	& > section.genres-section {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	.container > .genres {
		display: grid;
		justify-content: center;
		grid-template-columns: repeat(auto-fill, minmax(min(100%, 150px), 1fr));
		gap: 30px 30px;

		& > .genre {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 5px;

			background-color: $white-cream;
			padding: 5px;

			border: 2px solid rgba(0, 0, 0, 0.5);
			border-radius: 5px;

			cursor: pointer;

			transition: all 0.1s ease-in-out;

			&:hover {
				& > div.picture-container:first-child > img {
					transform: scale(1.05);
				}
			}

			div.picture-container {
				width: 100%;
				aspect-ratio: 2 / 2;
				overflow: hidden;
				border-radius: 5px;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
					transition: all 0.3s ease-in-out;
				}
			}
		}
	}
}

@media (width <= 400px) {
	.genresPage {
		.container > .genres {
			grid-template-columns: repeat(auto-fill, minmax(min(100%, 100px), 1fr));
		}
	}
}
