$olive-green: #606c38;
$dark-olive-green: #283618;
$white-cream: #fefae0;
$light-brown: #dda15e;
$dark-brown: #bc6c25;

.homepage {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;

	section.hero {
		h1,
		p {
			text-align: center;
			letter-spacing: 1.5px;
		}

		h1 {
			padding: 5px;
		}
	}

	section.links {
		width: min(600px, 90%);
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;

		section {
			position: relative;
			width: 100%;
			aspect-ratio: 4.5 / 1;
			border-radius: 10px;
			overflow: hidden;

			&:hover {
				img.bg {
					transform: scale(1.1);
				}
			}

			img.bg {
				position: absolute;
				height: 100%;
				width: 100%;
				object-fit: cover;
				object-position: center;
				z-index: -7;
				filter: brightness(0.4);
				transition: all 0.3s ease-in-out;
			}

			button {
				width: 100%;
				height: 100%;
				background-color: transparent;
				border: $white-cream 1px solid;
				border-radius: 5px;

				transition: all 0.15s ease-in-out;

				a {
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 5px;
					width: 100%;
					height: 100%;
					font-size: 25px;
					font-weight: 600;
					color: $white-cream;
					transition: all 0.15s ease-in-out;

					span.arrow {
						font-size: 30px;
						color: $white-cream;
						transition: all 0.2s ease-out;
					}
				}

				&:hover {
					border: $white-cream 1px solid;

					a > span.arrow {
						transform: translateX(5px);
					}
				}
			}
		}
	}
}

@media (width <= 700px) {
	.homepage {
		section {
			flex-direction: column;
			gap: 20px;
		}
	}
}

@media (width <= 400px) {
	.homepage {
		section.links section {
			aspect-ratio: 4.5 / 1.6;
		}
	}
}
